.education {
  margin-bottom: -150px;
  // padding: 20px;
  // margin-top: 30px;
    .title {
      font-family: var(--raleway);
      color: var(--lightest-slate);
      position: relative;
      h2 {
        margin-bottom: 2rem;
        font-size: var(--tx2large);
        font-weight: 700;
        &::before {
          counter-increment: title;
          content: "0" counter(title) ".";
          margin-right: 0.5rem;
          color: var(--theme-color);
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 20px;
          width: 300px;
          height: 2px;
          margin-left: 220px;
          background-color: var(--lightest-navy);
          // box-shadow: 5px 10px;
        }
      }
    }
    &-box {
      display: flex;
      flex-direction: row;
      &-line {
        position: fixed;
        margin: 20px;
        margin-left: 80px;
        width: 6px;
        height: 80%;
        border-radius: 2rem;
        background-color: var(--lightest-slate);
        box-shadow: 6px 14px var(--lightest-navy);
      }
      &-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-top: 20px;
        margin-left: 220px;
        font-family: var(--raleway);
        font-size: var(--tlarge);
        &-child{
          h2 {
            color: var(--lightest-slate);
          }
          p {
            padding: 1rem;
            color: var(--slate);
            font-size: var(--tbase);
          }
          &:hover {
            h2 {
              color: var(--theme-color);
              cursor: pointer;
            }
            p {
              color: var(--lightest-slate);
              font-size: 17px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1080px) {
      margin: 5rem 0;
      &-grid {
        &-info {
          &-list {
            grid-template-columns: 1fr;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      margin: 5rem auto;
      .title {
        h2 {
          &::after {
            width: 200px;
          }
        }
      }
      &-grid {
        &-photo {
          margin-top: 3rem;
          .overlay {
            height: 300px;
            width: 300px;
          }
          &-container {
            height: 300px;
            width: 300px;
          }
        }
        &-info {
          &-text {
            margin-right: 0;
          }
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    @media screen and (max-width: 480px) {
      .title {
        h2 {
          &::after {
            width: 100px;
          }
        }
      }
      &-grid {
        &-photo {
          .overlay {
            height: 223px;
            width: 223px;
          }
          &-container {
            height: 223px;
            width: 223px;
          }
        }
      }
    }
  }
  